services:
  minecraft:
    image: "{{ minecraft_image }}"
    container_name: "{{ minecraft_container_name }}"
    restart: unless-stopped
    ports:
      - "{{ minecraft_port }}:25565"
{% if minecraft_rcon_enabled | bool %}
      - "{{ minecraft_rcon_port }}:25575"
{% endif %}
    environment:
      EULA: "{{ minecraft_eula }}"
      TYPE: "{{ minecraft_type | string | upper }}"
      VERSION: "{{ minecraft_version }}"
      MEMORY: "{{ minecraft_memory }}"
{% if minecraft_type | string | upper == "FABRIC" %}
{% if minecraft_fabric_loader_version | length > 0 %}
      FABRIC_LOADER_VERSION: "{{ minecraft_fabric_loader_version }}"
{% endif %}
{% if minecraft_fabric_launcher_version | length > 0 %}
      FABRIC_LAUNCHER_VERSION: "{{ minecraft_fabric_launcher_version }}"
{% endif %}
{% if minecraft_fabric_launcher | length > 0 %}
      FABRIC_LAUNCHER: "{{ minecraft_fabric_launcher }}"
{% endif %}
{% if minecraft_fabric_meta_base_url | length > 0 %}
      FABRIC_META_BASE_URL: "{{ minecraft_fabric_meta_base_url }}"
{% endif %}
{% endif %}
      TZ: "{{ minecraft_timezone }}"
      MOTD: "{{ minecraft_motd }}"
      DIFFICULTY: "{{ minecraft_difficulty }}"
      MAX_PLAYERS: "{{ minecraft_max_players }}"
      ONLINE_MODE: "{{ minecraft_online_mode }}"
      ENABLE_WHITELIST: "{{ minecraft_enable_whitelist }}"
{% if minecraft_ops | length > 0 %}
      OPS: "{{ minecraft_ops }}"
{% endif %}
{% if minecraft_whitelist | length > 0 %}
      WHITELIST: "{{ minecraft_whitelist }}"
{% endif %}
{% if minecraft_mod_mode == "urls" %}
      MODS: |-
{{ minecraft_mod_urls | indent(8, true) }}
{% endif %}
{% if minecraft_mod_mode == "urls_file" %}
      MODS_FILE: "{{ minecraft_mods_file }}"
{% endif %}
{% if minecraft_mod_mode == "modrinth" %}
      MODRINTH_PROJECTS: |-
{{ minecraft_modrinth_projects | indent(8, true) }}
{% endif %}
{% if minecraft_mod_mode == "curseforge" %}
      CURSEFORGE_FILES: |-
{{ minecraft_curseforge_files | indent(8, true) }}
{% if minecraft_curseforge_api_key | length > 0 %}
      CF_API_KEY: "{{ minecraft_curseforge_api_key }}"
{% endif %}
{% if minecraft_curseforge_api_key_file | length > 0 %}
      CF_API_KEY_FILE: "{{ minecraft_curseforge_api_key_file }}"
{% endif %}
{% endif %}
      ENABLE_RCON: "{{ (minecraft_rcon_enabled | bool) | ternary('TRUE', 'FALSE') }}"
{% if minecraft_rcon_enabled | bool %}
      RCON_PASSWORD: "{{ minecraft_rcon_password }}"
      RCON_PORT: "{{ minecraft_rcon_port }}"
{% endif %}
    volumes:
      - "{{ minecraft_data_dir }}:/data"
